<!--
  ~     Copyright (C) 2017 srnd.org
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<resources>
    <!-- Uber keys, get them from https://developer.uber.com/ -->
    <string name="uber_client_id">YOUR_CLIENT_ID</string>
    <string name="uber_server_token">YOUR_SERVER_TOKEN</string>
    <string name="uber_redirect_uri">YOUR_REDIRECT_URI</string>

    <!-- Segment key, get it from your Segment dashboard -->
    <string name="segment_key">YOUR_SEGMENT_WRITE_KEY</string>

    <!-- GoSquared site ID, get it from your GoSquared settings -->
    <string name="gosquared_site_token">YOUR_GOSQUARED_SITE_ID</string>

    <!-- Radar keys, get them from your Radar settings -->
    <string name="radar_pk_test">YOUR_RADAR_TEST_PUBLISHABLE_KEY</string>
    <string name="radar_pk_live">YOUR_RADAR_LIVE_PUBLISHABLE_KEY</string>
</resources>